.header {
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}
.identification {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 120px;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
    margin-bottom: 32px;
    margin-top: 39px;
}

.check {
    margin: 60px 0;
    background-color: rgba(51, 51, 255, 0.25);
    border-radius: 50%;
    height: 120px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
}
.status {
    font-family: 'Jet Brains Mono';
    font-weight: 400;
    size: 16px;
    line-height: 24px;
    align: center;
    margin-bottom: 8px;
}
