.content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 600px;
    width: 600px;
}
.content::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.content::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    height: 200px;
}

.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: #ffffff;
}

.title {
    margin-top: 40px;
}
.wrapperTab {
    display: flex;
}
